.header {
  text-align: center;
}
.header h1 {
  color: rgb(255, 255, 255);
  font-size: 4rem;
  text-shadow: 1rem 1rem 1rem rgb(163, 58, 58);
}
.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 4rem;
  width: 80%;
  margin: 0 auto;
}
img {
  object-fit: cover;
}

.img {
  border-radius: 2rem;
  height: 20rem;
  width: 35rem;
  padding: 1.1rem;
  transition: all 0.2s ease-in-out;
}
.img:hover {
  transform: scale(1.1);
}
.popular {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 4rem;
  width: 80%;
  margin: 0 auto;
}
.img-preview {
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin: 0 auto;
  text-align: center;
}
.close-btn {
  position: absolute;
  top: 1%;
  right: 0;
  background: transparent;
  border: 0;
  outline: 0;
}
.close-btn i {
  color: azure;
  font-size: 3rem;
}

@media (max-width: 450px) {
  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 4rem;
    width: 90%;
    margin: 0 auto;
  }
  .img:hover {
    transform: scale(1);
  }
  .img {
    width: 95%;
  }
  .img-preview {
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin: 0 auto;
    text-align: center;
  }
}
.loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  min-height: 40rem;
}
.spinner {
  position: relative;
  width: 100px;
  height: 100px;
}
.spinner div {
  border: 13px solid transparent;
  border-top-color: rgba(174, 184, 207, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: spinner 1.4s infinite linear;
}
.spinner div:nth-child(2) {
  border: 13px solid transparent;
  border-bottom-color: rgba(109, 143, 218, 0.7);
  animation: spinnertwo 1.4s infinite linear;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
    border-width: 10px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 1px;
  }
  100% {
    transform: rotate(360deg);
    border-width: 10px;
  }
}

@keyframes spinnertwo {
  0% {
    transform: rotate(0);
    border-width: 1px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 10px;
  }
  100% {
    transform: rotate(360deg);
    border-width: 1px;
  }
}
