html {
  font-size: 10px;
  font-family: 'Pacifico', cursive;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 150rem;
  margin: 0 auto;
  background: #0f0e1c;
  color: #fff;
}
form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-box {
  font-family: 'Pacifico', cursive;
  background: transparent;
  padding: 1rem;
  outline: 0;
  border-radius: 1rem;
  margin-right: 1rem;
  /* box-shadow: 0rem 0.5rem 2rem rgb(150, 62, 62); */
  border: 0.2rem solid rgba(128, 128, 128, 0.76);
  color: #fff;
}
.search-box:focus {
  box-shadow: 0rem 0.5rem 1rem rgb(150, 62, 62);
}
.btn {
  padding: 1rem;
  background: transparent;
  outline: 0;
  border: 0.2rem solid rgba(128, 128, 128, 0.76);
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0rem 0.5rem 1rem rgb(150, 62, 62);
}
.btn:active {
  transform: translateY(0.2rem);
}
i {
  color: rgb(73, 68, 68);
  font-size: 2rem;
}
